DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=el_queue
DB_SSLMODE=disable

BACKEND_PORT=8081
FRONTEND_PORT=3000
API_BASE_URL=http://localhost:8081
BROWSER=chrome

JWT_SECRET=your-secret-key
JWT_EXPIRATION=24h

LOG_DIR=logs
TICKET_DIR=tickets

INTERNAL_API_KEY=iak12345
EXTERNAL_API_KEY=eak12345

TICKET_MODE=b/w
PRINTER_PAPER_WIDTH_MM=80
PRINTER_DPI=200
PRINTER_NAME=ThermalPrinter

ONE_C_URL=http://localhost:8081/umc/ru/hs/electronicqueue
ONE_C_API_KEY="..."
ONE_C_CONF=1C.conf

MAINTENANCE_TIME=00:00
BACKGROUND_MUSIC=false