# Файлы окружения
.env

# Логи и временные файлы
logs/
*.log
tmp/
temp/
*.txt
*.docx

# Системные файлы
.DS_Store
.idea/
.vscode/
*.swp

# Бинарники и зависимости
/bin/
/vendor/
/node_modules/
*.exe
*.exe~
*.dll
*.lib
*.so

# Автогенерируемые файлы
*.sqlite3
*.db