# Файлы окружения
.env
*.code-workspace

# Логи и временные файлы
logs/
*.log
tmp/
temp/

# Локальная документация
*.txt
*.docx
*.pdf
tickets/

# Системные файлы
.DS_Store
.idea/
.vscode/
*.swp

# Бинарники и зависимости
/bin/
/vendor/
/node_modules/
*.exe
*.exe~
*.dll
*.lib
*.so
*.sqlite3
*.db
*.test
*.out
go.work
go.work.sum
main.exe
main
*.exe
*.exe~
go.sum.backup
*.tmp
*.temp


# Файлы IDE
*.sublime-project
*.sublime-workspace

# Файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Файлы macOS
.AppleDouble
.LSOverride

# Файлы Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*